<div class="container">
    <img src="{{ asset('uploads/' ~  book.image) }}" alt="{{ book.title }}" height="300" width="200">
    <div class="caption">
        <span>{{ book.title }}</span>
        <p><a href="{{ path('show_book' ,{'slug' : book.slug}) }}" class="btn btn-primary" role="button"><i class="fa fa-eye"></i> Voir plus</a></p>
    </div>
</div>